<h1>Editing upcoming tour image</h1>

<%= render "form", upcoming_tour_image: @upcoming_tour_image %>

<br>

<div>
  <%= link_to "Show this upcoming tour image", @upcoming_tour_image %> |
  <%= link_to "Back to upcoming tour images", upcoming_tour_images_path %>
</div>
